.footer__column-link {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  margin-top: 10px;
  color: #fff;
  text-decoration: none;
}

.footer__column-link:last-child {
  /* margin-bottom: 20px; */
}
