.two-columns {
  width: 80%;
  min-width: 784px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  margin: 0 auto;
  /* border: 1px solid red; */
}
p {
  margin: 0;
  padding: 0;
}
